<div class="container">
    <div class="row">
        <% if @passive_tasks.present? %>
            <div class="passive_tasks">
                <div class="row">
                    <div class="complete_index col-xs-12">
                        <table class="table">
                            <% @tasks.each do |task| %>
                                <%if task.updated_at < Date.today %>
                                    <tr class="task_table d<%= task.rating %>">
                                        <td style="width:40%"><%= task.task_en %></td>
                                        <td style="width:40%"><%= task.task_ja %></td>
                                        <td style="width:15%"><%= task.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
                                        <td style="width:5%">
                                            <% if task.updated_at < Date.yesterday %>
                                                <%= link_to "削除", delete_task_path(task.id), method: :delete, class: "btn btn-warning", data: {confirm: "タスクを削除すると、ランキング結果が下がる可能性があります。"} %>
                                            <% end %>
                                        </td>
                                    </tr>
                                <% end %>
                            <% end %>
                        </table>
                    </div>
                </div>
            </div>
        <% else %>
            <h3>完了済タスクはありません</h3>
        <% end %>
    </div>
    <div class="text-center"><%= paginate @tasks %></div>
