<div class="container">
    <div class="row">
        <% if @passive_tasks.present? %>
            <div class="passive_tasks">
                <div class="row">
                    <div class="complete_index col-xs-12">
                    <h2 class="text-center"><i class="fas fa-check-circle"></i> 過去のタスク</h2>
                            <% @tasks.each do |task| %>
                                <%if task.is_active == false %>
                                    <div class="d<%= task.rating %> col-xs-12">
                                        <div class="col-sm-5">
                                            <%= task.task_en %>
                                        </div>
                                        <div class="col-sm-5">
                                            <%= task.task_ja %>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="col-xs-9"><%= task.updated_at.strftime('%Y/%m/%d %H:%M') %></div>
                                            <div class="col-xs-3">
                                                <% if task.updated_at < Date.yesterday %>
                                                    <%= link_to delete_task_path(task.id), method: :delete, class:"btn btn-warning" do %>
                                                        <i class="fas fa-trash"></i>
                                                    <% end %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </table>
                    </div>
                </div>
            </div>
        <% else %>
            <h2 class="text-center"><i class="fas fa-frown"></i> タスクがありません</h2>
        <% end %>
    </div>
    <div class="text-center"><%= paginate @tasks %></div><br>
</div>
