<div class="container">
    <div class="row">
        <% if @passive_tasks.present? %>
            <div class="passive_tasks">
                <div class="row">
                    <div class="complete_index main_group col-xs-12">
                    <h2 class="text-center"><i class="far fa-check-circle"></i> 過去のタスク</h2>
                            <% @tasks.each do |task| %>
                                <%if task.is_active == false %>
                                    <div class="col-sm-3">
                                        <div class="task d<%= task.rating %> text-center">
                                            <%= task.task_ja %><br>
                                            <%= task.task_en %><br>
                                            <%= task.updated_at.strftime('%Y/%m/%d %H:%M') %>
                                            <% if task.updated_at < Date.yesterday %>
                                                <%= link_to delete_task_path(task.id), method: :delete, class: "trash" do %>
                                                    <i class="fas fa-trash-alt fa-2x"></i>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </table>
                    </div>
                </div>
            </div>
        <% else %>
            <h2 class="text-center"><i class="fas fa-frown"></i> タスクがありません</h2>
        <% end %>
    </div>
    <div class="text-center"><%= paginate @tasks %></div><br>
</div>
