
<% if @passive_tasks.present? %>
    <%= link_to "全ての完了済タスクを削除", delete_all_tasks_path, method: :delete %>
    <div class="passive_tasks">
        <% @passive_tasks.each do |task| %>
            <div class="passive_task<%= task.rating %>">
                <%= task.task_en %>
                <%= task.task_ja %>
                <%= task.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
                <%= link_to "削除", delete_task_path(task.id), method: :delete %>
            </div>
        <% end %>
    </div>
<% else %>
    <h3>完了済タスクはありません</h3>
<% end %>

<%= link_to "トップ", tasks_path %>