<div class="container">
  <% if @task.errors.any? %>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li>error <%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
      	<thead>
      	  <%= form_with model: @task, remote: true do |f| %>
        		<tr>
        		  <th style="width:6%"></th>
        			<th style="width:47%"><h3 class="text-center">変更前</h3></th>
        			<th style="width:47%"><h3 class="text-center">変更後</h3></th>
        		</tr>
        	</thead>
        	<tbody class="text-center">
        		<tr>
        			<td><label>日本語</label></td>
        			<td><%= @task.task_ja %></td>
        			<td>
        			  <div id="translate"><%= f.text_area :task_ja, class: "task_ja", placeholder: "日本語", size: "50x2" %></div>
                <%= f.label "※最低4文字以上" %>
        			</td>
        		</tr>
        		<tr>
        			<td><label>重要度</label></td>
        			<td><span class="rating" data-score="<%= @task.rating %>"></span></td>
        			<td class="star"><%= f.select :rating, [["☆☆", ""], ["★☆︎", 1], ["★★︎", 2]] %></td>
        		</tr>
        		<tr>
        			<td><label>英語</label></td>
        			<td><%= @task.task_en %></td>
        			<td><%= f.text_area :task_en, class: "task_en", placeholder: "英語", size: "50x2" %></td>
        		</tr>
        		<tr>
        			<td><%= link_to "戻る", tasks_path, class: "btn btn-success" %></td>
        			<td><%= link_to "削除", task_path(@task.id), method: :delete, class: "btn btn-danger" %></td>
        			<td><%= f.submit "保存", method: :patch %></td>
        		</tr>
      		<% end %>
      	</tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $('.rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    score: function() {
      return $(this).attr('data-score');
    },
  });
</script>

<script src="javascripts/translate.js"></script>