<h2>変更前</h2>
<%= @task.task_ja %><br>
<%= @task.task_ja %><br>
<div class="rating" data-score="<%= @task.rating %>"></div>

<h2>変更後</h2>
<%= form_with model: @task, remote: true do |f| %>
  <% if @task.errors.any? %>
    <% task.errors.full_messages.each do |message| %>
      <li>error <%= message %></li>
    <% end %>
  <% end %>
  <div>
    <%= f.label "タスクを入力" %>
    <div id="translate"><%= f.text_area :task_ja, class: "task_ja", placeholder: "日本語" %></div>
  </div>

  <div>
    <%= f.text_area :task_en, class: "task_en", placeholder: "英語" %>
  </div>

  <div id="task-rating">
    <label>重要度</label>
  </div>

  <div>
    <%= f.submit "保存", method: :patch %>
  </div>
<% end %><br>

<%= link_to "変更せず戻る", tasks_path %><br>
<%= link_to "削除", task_path(@task.id), method: :delete, class: "btn btn-danger pull-right" %>

<script>
  $('.rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('#task-rating').raty({
    path: '/assets/',
    scoreName: 'task[rating]'
  });
</script>

<script>
const task_ja = document.querySelector('.task_ja');
const task_en = document.querySelector('.task_en');
  translate.addEventListener('change', function() {
    const url = "https://script.google.com/macros/s/AKfycbwMfVWHciY9Q6mw2eMpVIA-569em9ggdt3er5x75Nm-di5N8Jg/exec?text="+task_ja.value+"&source=ja&target=en";
    const request = new XMLHttpRequest();
    request.open("GET", url);

    request.addEventListener("load", (e) => {
      task_en.innerHTML= e.currentTarget.response;
    });
    task_en.innerHTML= "loading...";
    request.send();
  })
</script>