
<%= link_to "全て完了する", change_all_tasks_path %>
<%= link_to "作成する", new_task_path %>
<div class="tasks">
    <% @active_tasks.each do |task| %>
        <div class="active_task<%= task.rating %>">
            <%= task.task_en %>
            <%= task.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            <%= link_to "編集",edit_task_path(task.id) %>
            <%= link_to "完了", change_task_path(task.id), method: :patch %><br>
        </div>
    <% end %>
</div><br><br>

<div class="tasks">
    <% @passive_tasks.each do |task| %>
        <div class="passive_task<%= task.rating %>">
            <%= task.task_en %>
            <%= task.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </div>
    <% end %>
</div><br>
