
<%= link_to change_all_tasks_path do %>
    <i class="fas fa-check-circle fa-3x"></i>
<% end %>
<%= link_to new_task_path do %>
    <i class="fas fa-plus fa-3x"></i>
<% end %>
<div class="tasks">
    <% @active_tasks.each do |task| %>
        <div class="active_task<%= task.rating %>">
            <%= task.task_en %>
            <%= task.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            <%= link_to edit_task_path(task.id) do %>
                <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to change_task_path(task.id), method: :patch  do%>
                <i class="fas fa-check-circle"></i>
            <% end %>
        </div>
    <% end %>
</div><br><br>

<div class="tasks">
    <% @passive_tasks.each do |task| %>
        <div class="passive_task<%= task.rating %>">
            <%= task.task_en %>
            <%= task.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </div>
    <% end %>
</div><br>
