<div class="container"></div>
  <div class="text-center col-xs-12">
    <%= form_with model: @task, remote: true do |f| %>
      <h2>タスクを入力</h2>
      <div class="form-contents">
        <div id="translate"><%= f.text_area :task_ja, class: "task_ja", placeholder: "日本語" %></div>
      </div>
      <div class="form-contents">
        <div id="task-rating">
          <label>重要度</label>
        </div>
      </div>
      <div class="form-contents">
        <%= f.text_area :task_en, class: "task_en", placeholder: "英語" %><br>
        <%= f.label "※自動で入力されない場合はリロードしてください" %>
      </div>
      <div class="form-contents">
        <%= f.submit  "作成", method: :post %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('#task-rating').raty({
    path: '/assets/',
    scoreName: 'task[rating]'
  });
</script>


<script>
const task_ja = document.querySelector('.task_ja');
const task_en = document.querySelector('.task_en');

  translate.addEventListener('change', function() {
    const url = "https://script.google.com/macros/s/AKfycbwMfVWHciY9Q6mw2eMpVIA-569em9ggdt3er5x75Nm-di5N8Jg/exec?text="+task_ja.value+"&source=ja&target=en";
    const request = new XMLHttpRequest();
    request.open("GET", url);

    request.addEventListener("load", (e) => {
      task_en.innerHTML= e.currentTarget.response;
    });
    task_en.innerHTML= "loading...";
    request.send();
  })
</script>

