<div class="form">
  <%= form_with model: @task, remote: true do |f| %>
    <div>
      <%= f.label "タスクを入力" %>
      <div id="translate"><%= f.text_area :task_ja, class: "task_ja", placeholder: "日本語" %></div>
    </div>
    <div>
      <%= f.text_area :task_en, class: "task_en", placeholder: "英語" %>
    </div>
    <div id="task-rating">
      <label>重要度</label>
    </div>
    <div>
      <%= f.submit  "作成", method: :post %>
    </div>
  <% end %>
</div>

<script>
  $('#task-rating').raty({
    path: '/assets/',
    scoreName: 'task[rating]'
  });
</script>


<script>
const task_ja = document.querySelector('.task_ja');
const task_en = document.querySelector('.task_en');
  translate.addEventListener('change', function() {
    const url = "https://script.google.com/macros/s/AKfycbwMfVWHciY9Q6mw2eMpVIA-569em9ggdt3er5x75Nm-di5N8Jg/exec?text="+task_ja.value+"&source=ja&target=en";
    const request = new XMLHttpRequest();
    request.open("GET", url);

    request.addEventListener("load", (e) => {
      task_en.innerHTML= e.currentTarget.response;
    });
    task_en.innerHTML= "loading...";
    request.send();
  })
</script>

