<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="main_group calender col-sx-12">
        <%= month_calendar events: @completed_tasks do |date, tasks| %>
          <%= date.day %>
          <div class="flexbox">
              <% tasks.each do |task| %><br>
                  <div class="completed_task d<%= task.rating %>"></div>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "本日分のデータを作成", admin_create_path, class: "btn btn-warning btn-lg btn-block", method: :patch %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "過去分のデータを作成", admin_all_create_path, class: "btn btn-warning btn-lg btn-block", method: :patch %>
    </div>
  </div><br>
</div><br>