<!DOCTYPE html>
<html>
  <head>
    <title>Gutelist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><span>""</span></li>
          <li>
            <%= link_to "マイページ", "", class: "btn btn-outline-secondary" %>
          </li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary" %>
          </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
